@import url('https://fonts.googleapis.com/css?family=Montserrat|Merienda+One|Julius+Sans+One|Cormorant+Garamond&display=swap');

//Font variables 'Raleway', sans-serif;
$logo-font: 'Merienda One', cursive;
$title-font: 'Julius Sans One', sans-serif;
$default-font-1: 'Montserrat', sans-serif;
$default-font-2: 'Cormorant Garamond', serif;


//Color variables
$logo-color: #80000f;
$button-color: #ff9933;

//Shadow variables
$navbar-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
$input-shadow: 0px 3px 12px -3px rgba(145,140,145,0.67);
$input-shadow-press: 0px 3px 12px -10px rgba(145,140,145,0.67);

//Containers
.container-show{
  width: 55%;
  margin: 0 auto;
}

.container-form{
  width: 30%;
  margin: 30px auto 100px auto;
  // 60px auto 150px auto;
}

.container-form-new{
  width: 70%;
  margin: auto;
  padding-top: 100px;
}

.container-map-search{
  position: absolute;
  top: 100px;
  right: 100px;
  width: 30%;
  z-index: 1;
}


//Search bar styling
.search-bar{
  display: flex;
}

.search-bar .input{
  border-radius: 3px 0 0 3px;
  padding: 20px;
  width: 80%;
}

.search-bar button{
  border-radius: 0px 3px 3px 0px;
  flex-grow: 1;
  padding: 0;
}


//Form styling
form .input, form .textarea{
  border-radius: 3px;
  border: none;
  box-shadow: $input-shadow;
  font-family: $default-font-1 ;
}

form button, form .columns .column button{
  border-radius: 3px;
  border: none;
  background-color: $button-color;
  color: white;
  box-shadow: $input-shadow;
  font-family: $default-font-1;
  font-size: 15px;
  min-width: 110px;
}

form button:hover, form .columns .column button:hover{
  box-shadow: $input-shadow-press;
}

.form-submit{
  display: flex;
  flex-direction: row-reverse;
}

form .columns .column .control button{
  background-color: $logo-color;
}

label{
  font-family: $title-font;
}

button {
  padding: 15px;
}

button:hover{
  box-shadow: $input-shadow-press;
}

.logo{
  font-family: $logo-font;
  color: $logo-color;
  font-size: 80px;
  text-align: center;
  margin-top: 120px;
}

.photo-button-container{
  display: flex;
  flex-direction: row-reverse;
}


//Navbar styling
.navbar .navbar-brand .logo {
  margin-top: 0;
}

.navbar{
  box-shadow: $navbar-shadow;
}

.navbar-item{
  font-family: $title-font;
}



.home-image-1{
  width: 100vw/3;
  height: 50vh;
  background-image: url('/assets/home-0.jpg');
  background-position: center;
  background-size: cover;
}

.home-image-2{
  width: 100vw/3;
  height: 50vh;
  background-image: url('/assets/home-1.jpg');
  background-position: center;
  background-size: cover;
}

.home-image-3{
  width: 100vw/3;
  height: 50vh;
  background-image: url('/assets/home-2.jpg');
  background-position: center;
  background-size: cover;
}

.show-title{
  font-family: $title-font;
  color: $button-color;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

.show-meta{
  font-family: $default-font-1;
  text-align: center;
}

.show-description{
  font-family: $default-font-1;
  letter-spacing: 2px;
}

.show-image{
  width: 60%;
  height: auto;
  margin: auto;
}

.container-show>*{
  margin: 70px 0;
}

.text-link{
  padding: 15px 0 0 15px;
  font-family: $default-font-1;
  color: $button-color;
}

//Popup styling
a .mapboxgl-popup-content{
  box-shadow: $input-shadow;
}

a .mapboxgl-popup-content div div img{
  height: 100px;
}

a .mapboxgl-popup-content div div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: $default-font-1;
}


//Error handling styles
.error-message{
  background-color: rgba($logo-color, 0.2);
  color: $logo-color;
  border-radius: 3px;
  border: none;
  box-shadow: $input-shadow;
  font-family: $default-font-1;
  width: 100%;
  text-align: center;
  padding: 10px;
  margin: 20px 0px 15px 0px;
}

//Flash message styling
.flash-message{
  padding: 20px;
  background-color: rgba(#9ae7f3, 0.2);
  height: 15vh;
  font-family: $default-font-1;
  color: $logo-color;
  display: flex;
  align-items: center;
  justify-content: center;
}
